/* everything */

* {
    box-sizing: border-box;
}

/* header */

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header ul {
    display: flex;
    justify-content: flex-start;
    background-color: #6c733d;
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    margin: 0.5em;
    padding: 0.5em;
    border: 0.5em solid #7e49ef;
    background-color: #d8704a;
    color: white;
    list-style: none;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* body */ 

body {
    background-color: #d2d9d9;
    color: #182601;
    font-family: 'Futura', sans-serif;
    text-align: center;
    padding-bottom: 90px;
}

main p {
    padding: 2em;
    line-height: 2em;
}

main img {
    max-width: 100%;
}

.dag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

.text {
    flex: 1;
    max-width: 50%;
    font-size: 1rem;
}

button {
        display: block;
        background-color: #d79889;
        border-style: outset;
        color: black;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        padding: 0.5em;
        border-radius: 10px;
        border: 7px solid #f14171;
}

main a {
    text-decoration: none;
}

/* footer */

footer {
    background-color: #d8c149;
}

footer img {
    width: 48px;
    height: 48px;
}

@media (max-width: 768px) {
    .dag {
        flex-direction: column;
    }

    .image,
    .text {
        max-width: 100%;
    }

/* under here is a change */

    header li {
        margin: 2px;
    }
}