/* everything */

* {
    box-sizing: border-box;
}

/* header */

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header ul {
    display: flex;
    justify-content: space-between;
    background-color: #6c733d;
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    margin: 0.5em;
    padding: 0.5em;
    border: 0.5em solid #7e49ef;
    background-color: #d8704a;
    color: white;
    list-style: none;
}

header li a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* body */ 

body {
    background-color: #d2d9d9;
    color: #182601;
    font-family: 'Futura', sans-serif;
    text-align: center;
    padding-bottom: 65px;
    margin: 0;
}

h1 {
    padding: 0.5em;
}

h2 {
    font-style: italic;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

main p {
    padding: 2em;
    line-height: 28px;
}

main img {
    max-width: 100%;
}

.dag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

.text {
    flex: 1;
    max-width: 50%;
    font-size: 1rem;
}

.button {
        display: block;
        color: black;
        background-color: #d79889;
        border-style: outset;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        padding: 0.5em;
        border-radius: 10px;
        border: 7px solid #f14171;
        margin-left: 110px;
        margin-right: 110px;
        margin-bottom: 20px;
}

.button a {
    color: black;
}

.button a:visited {
    color: black;
}

main a {
    text-decoration: none;
    color: #f14171;
}

main a:visited {
    color: #746252; 
}

.logo {
    padding-bottom: 40px;
}

/* footer */

.footer {
    background-color: #d8c149;
    border: 2px dotted #f14171;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    align-items: baseline;
}

footer img {
    height: 85px;
    width: 85px;
    align-self: center;
}

footer a {
    text-decoration: underline;
    color: #4a6b57;
}

footer a:visited {
    color: #746252;
}

/* media */

@media (max-width: 768px) {
    .dag {
        flex-direction: column;
    }

    .image,
    .text {
        max-width: 100%;
    }

    header li {
        margin: 2px;
    }
}